
*.zip

src/syntaxtree
src/visitor
src/minijava-examples-new

src/JavaCharStream.java
src/MiniJavaParser.java
src/MiniJavaParserConstants.java
src/MiniJavaParserTokenManager.java
src/ParseException.java
src/Token.java
src/TokenMgrError.java

src/*.class
src/db_visitor/*.class
src/symbolTable/*.class